.app {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player, .play-list {
  width: 400px;
  height: 90vh;
  border-radius: 20px;
  background-image: linear-gradient(rgb(21, 21, 83), rgb(11, 11, 42));
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: column;
  padding: 15px 0px
}

